/*
======================================================================================================
These classes were used to style my three select forms and one label form.
======================================================================================================
*/

.formb,
.formc,
.forma {
    color: blue;
    background-color: rgba(173, 216, 230, 0.658);
}

.stock_form {
    display: inline-block;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(182, 190, 182, 0.8);
    border: solid 1px;
}


/*
============================================================================
Adjustments for tables, contact_options pages and one_year_chart dislike/like pages
============================================================================
*/

.table_styles {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0px;
    font-size: 20px;
}

.larger_font_size p {
    font-size: 20px;
}

.rating_padding {
    padding-top: 10px;
}

.extra_padding_forty {
    padding-top: 40px;
}

.appointment_map iframe {
    width: 400px;
    height: 125px;
}

.appointment,
.email,
.phone {
    font-size: 25px;
    font: bold;
}

/*
===========================
Links and Hover Features
===========================
*/

.grid_link a {
    font: bold;
    font-size: 20px;
    color: blue;
}

.nav_link a {
    font-size: 20px;
    color: green;
}

.article_link a {
    color: purple;
}

.nav_link a:hover {
    color: rgba(98, 163, 98, 0.5);
}

.table_link a:hover {
    color: red;
}

.grid_link a:hover {
    color: rgb(172, 169, 169);
}

/*
===========================================================
Font Type, background colors, decorations and image sizing
===========================================================
*/

.background_color {
    background-color: rgba(182, 190, 182, 0.8);
}

.alt_background_color {
    background-color: #FFF;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
}

.underline {
    text-decoration: underline;
}

header img {
    border-radius: 50%;
    height: 200px;
    width: 250px;
}

header h1 {
    font-size: 65px;
    font-weight: bold;
}

.center {
    text-align: center;
    padding: 10px;
}

.major-indices img,
.stock_charts_liked img,
.stock_charts_disliked img {
    width: 100%;
    height: 50%;
}

.major_indices_oneyear img,
.stock_charts_liked_oneyear img,
.stock_charts_disliked_oneyear img {
    width: 100%;
    height: 50%;
}

.disclaimer_section {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
}

/*
================================================
Mid size screen sizing for images and columns
================================================
*/

@media only screen and (min-width: 900px) {


    .grid_container_onethird {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 100%;
        padding: 5px;
    }

    .grid_item_onethird_chart {
        font-size: 20px;
        padding: 5px;
        width: 33.33%;
    }

    .grid_container_onefourth {
        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 100%;
    }

    .grid_item_onefourth h2 {
        font-size: 15px;
    }

    .major-indices img,
    .stock_charts_liked img,
    .stock_charts_disliked img {
        width: 250%;
        height: 90%;
    }

    .major_indices_oneyear img,
    .stock_charts_liked_oneyear img,
    .stock_charts_disliked_oneyear img {
        width: 65%;
        height: 50%;
    }

    .table_styles {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 100px;
        font-size: 20px;
    }

    .stock_form {
        display: inline-block;
        font-size: 20px;
        padding-left: 150px;
        padding-right: 150px;
        background-color: rgba(182, 190, 182, 0.8);
        border: solid 1px;
    }

    .appointment_map iframe {
        width: 800px;
        height: 250px;
    }

}

/*
===================================================
Large size screen sizing for images and columns
===================================================
*/

@media only screen and (min-width: 1200px) {

    .grid_container_onethird {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 100%;
        padding: 5px;
    }

    .grid_item_onethird {
        font-size: 20px;
        padding: 2px;
    }

    .major-indices img,
    .stock_charts_liked img,
    .stock_charts_disliked img {
        font-size: 20px;
        padding: 5px;
        width: 275%;
        border: solid 1px;
    }

    .grid_container_onefourth {
        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 100%;
    }

    .grid_item_onefourth h2 {
        font-size: 15px;
    }

    .table_styles {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 275px;
        font-size: 20px;
    }

    .stock_form {
        display: inline-block;
        font-size: 20px;
        padding-left: 150px;
        padding-right: 150px;
        background-color: rgba(182, 190, 182, 0.8);
        border: solid 1px;
    }

    .appointment_map iframe {
        width: 1100px;
        height: 355px;
    }

}